# Data Types and Type Conversion
## Questions
What kinds of data do programs store?

How can I convert one type to another?

## Objectives
Explain key differences between integers and floating point numbers.

Explain key differences between numbers and character strings.

Use built-in functions to convert between integers, floating point numbers, and strings.

### Every value has a type.

In [1]:
age = 42
name = 'Matthew'
number = 3.0

### Use the built-in function ```type``` to find the type of a value.

In [5]:
print(type(age))

<class 'int'>

In [6]:
print(type(name))

<class 'str'>

In [7]:
print(type(3.0))

<class 'float'>

### Types control what operations (or methods) can be performed on a given value.

In [8]:
print(5-3)

2

In [9]:
print('Hello' - 'H')

TypeError: unsupported operand type(s) for -: 'str' and 'str'

### You can use the “+” and “*” operators on strings.

In [11]:
'Hello' + ' ' + 'H'

'Hello H'

In [14]:
'Aa' * 10

'AaAaAaAaAaAaAaAaAaAa'

### Strings have a length (but numbers don’t).

In [15]:
len('Matthew')

7

In [16]:
len(42)

TypeError: object of type 'int' has no len()

### Must convert numbers to strings or vice versa when operating on them.

In [17]:
'42' * 2

'4242'

In [18]:
int('42') * 2

84

In [20]:
str(42) + ' Decker Drive'

'42 Decker Drive'

### Can mix integers and floats freely in operations.

In [21]:
5 * 3.0

15.0

In [22]:
5 * 3.5019802392

17.509901196

In [23]:
5 * int(3.5029292)

15

### Variables only change value when something is assigned to them.

In [24]:
first = 1
second = 5 * first
first = 2

In [25]:
print(first)

2

In [26]:
print(second)

5

## Activities
Below are activities to test understanding

In [27]:
print('5 // 3:', 5//3)
print('5 / 3:', 5/3)
print('5 % 3:', 5%3)

5 // 3: 1
5 / 3: 1.6666666666666667
5 % 3: 2

In [28]:
10//3

3

In [30]:
10%5

0

In [31]:
10/3

3.3333333333333335

### Challenge question:
```python 
first = 1.0
second = "1"
third = "1.1"
```
Which of the following will return the floating point number `2.0`?

1. `first + float(second)`
2. `float(second) + float(third)`
3. `first + int(third)`
4. `first + int(float(third))`
5. `int(first) + int(float(third))`
6. `2.0 * second`

In [36]:
first = 1.0
second = "1"
third  = "1.1"

In [39]:
print(first + float(second))
print(float(second) + float(third)) #1.1 + 1.0 = 2.1 
#print(first + int(third)) Invalid literal error
print(first + int(float(third)))
print(int(first) + int(float(third))) # Integer
#2.0 * second  # Type error can't mix float and string

2.0
2.1
2.0
2