# Pandas DataFrames

## Questions
How can I do statistical analysis of tabular data?

## Objectives
Select individual values from a Pandas dataframe.

Select entire rows or entire columns from a dataframe.

Select a subset of both rows and columns from a dataframe in a single operation.

Select a subset of a dataframe by a single Boolean criterion.

### Note about Pandas Dataframes / Series
A DataFrame is a collection of Series; The DataFrame is the way Pandas represents a table, and Series is the data-structure Pandas use to represent a column.

Pandas is built on top of the Numpy library, which in practice means that most of the methods defined for Numpy Arrays apply to Pandas Series/DataFrames.

What makes Pandas so attractive is the powerful interface to access individual records of the table, proper handling of missing values, and relational-databases operations between DataFrames.

## Selecting values
To access a value at the position `[i,j]` of a DataFrame, we have two options, depending on what is the meaning of i in use. 

### Use `DataFrame.iloc[..., ...]` to select values by their (entry) position

### Use `DataFrame.loc[..., ...]` to select values by their (entry) label

### Use `:` on it's own to mean all columns or all rows

In [2]:
import pandas as pd
data = pd.read_csv('data/gapminder_gdp_europe.csv', index_col='country')

In [3]:
data.head()

,gdpPercap_1952,gdpPercap_1957,gdpPercap_1962,gdpPercap_1967,gdpPercap_1972,gdpPercap_1977,gdpPercap_1982,gdpPercap_1987,gdpPercap_1992,gdpPercap_1997,gdpPercap_2002,gdpPercap_2007
country,,,,,,,,,,,,
Albania,1601.056136,1942.284244,2312.888958,2760.196931,3313.422188,3533.003910,3630.880722,3738.932735,2497.437901,3193.054604,4604.211737,5937.029526
Austria,6137.076492,8842.598030,10750.721110,12834.602400,16661.625600,19749.422300,21597.083620,23687.826070,27042.018680,29095.920660,32417.607690,36126.492700
Belgium,8343.105127,9714.960623,10991.206760,13149.041190,16672.143560,19117.974480,20979.845890,22525.563080,25575.570690,27561.196630,30485.883750,33692.605080
Bosnia and Herzegovina,973.533195,1353.989176,1709.683679,2172.352423,2860.169750,3528.481305,4126.613157,4314.114757,2546.781445,4766.355904,6018.975239,7446.298803
Bulgaria,2444.286648,3008.670727,4254.337839,5577.002800,6597.494398,7612.240438,8224.191647,8239.854824,6302.623438,5970.388760,7696.777725,10680.792820

In [4]:
data.iloc[0,0]

1601.056136

In [6]:
data.loc['Albania', 'gdpPercap_1967']

2760.196931

In [8]:
data.loc['Albania',:]

gdpPercap_1952    1601.056136
gdpPercap_1957    1942.284244
gdpPercap_1962    2312.888958
gdpPercap_1967    2760.196931
gdpPercap_1972    3313.422188
gdpPercap_1977    3533.003910
gdpPercap_1982    3630.880722
gdpPercap_1987    3738.932735
gdpPercap_1992    2497.437901
gdpPercap_1997    3193.054604
gdpPercap_2002    4604.211737
gdpPercap_2007    5937.029526
Name: Albania, dtype: float64

In [9]:
data.loc[:,'gdpPercap_1967']

country
Albania                    2760.196931
Austria                   12834.602400
Belgium                   13149.041190
Bosnia and Herzegovina     2172.352423
Bulgaria                   5577.002800
Croatia                    6960.297861
Czech Republic            11399.444890
Denmark                   15937.211230
Finland                   10921.636260
France                    12999.917660
Germany                   14745.625610
Greece                     8513.097016
Hungary                    9326.644670
Iceland                   13319.895680
Ireland                    7655.568963
Italy                     10022.401310
Montenegro                 5907.850937
Netherlands               15363.251360
Norway                    16361.876470
Poland                     6557.152776
Portugal                   6361.517993
Romania                    6470.866545
Serbia                     7991.707066
Slovak Republic            8412.902397
Slovenia                   9405.489397
Spain                      7993.512294
Sweden                    15258.296970
Switzerland               22966.144320
Turkey                     2826.356387
United Kingdom            14142.850890
Name: gdpPercap_1967, dtype: float64

### Select multiple columns or rows using `DataFrame.loc` and a named slice.

In [11]:
data.loc['Italy':'Romania', "gdpPercap_1967":'gdpPercap_1982']

             gdpPercap_1967  gdpPercap_1972  gdpPercap_1977  gdpPercap_1982
country
Italy          10022.401310    12269.273780    14255.984750    16537.483500
Montenegro      5907.850937     7778.414017     9595.929905    11222.587620
Netherlands    15363.251360    18794.745670    21209.059200    21399.460460
Norway         16361.876470    18965.055510    23311.349390    26298.635310
Poland          6557.152776     8006.506993     9508.141454     8451.531004
Portugal        6361.517993     9022.247417    10172.485720    11753.842910
Romania         6470.866545     8011.414402     9356.397240     9605.314053

### Result of slicing can be used in further operations.

In [13]:
subset = data.loc['Italy':'Romania', "gdpPercap_1967":'gdpPercap_1982'].min()

### Use comparisons to select data based on value.

In [15]:
print('subset of data', subset > 8000)

subset of data gdpPercap_1967    False
gdpPercap_1972    False
gdpPercap_1977     True
gdpPercap_1982     True
dtype: bool

### Select values or NaN using a Boolean mask

In [16]:
subset[subset > 8000]

gdpPercap_1977    9356.397240
gdpPercap_1982    8451.531004
dtype: float64

### Group By: split-apply-combine

# Activities