# Pandas DataFrames

## Questions
How can I do statistical analysis of tabular data?

## Objectives
Select individual values from a Pandas dataframe.

Select entire rows or entire columns from a dataframe.

Select a subset of both rows and columns from a dataframe in a single operation.

Select a subset of a dataframe by a single Boolean criterion.

### Note about Pandas Dataframes / Series
A DataFrame is a collection of Series; The DataFrame is the way Pandas represents a table, and Series is the data-structure Pandas use to represent a column.

Pandas is built on top of the Numpy library, which in practice means that most of the methods defined for Numpy Arrays apply to Pandas Series/DataFrames.

What makes Pandas so attractive is the powerful interface to access individual records of the table, proper handling of missing values, and relational-databases operations between DataFrames.

## Loading data
This code 
* imports the pandas library
* Reads in the salaries csv file, using username as the index
* Sorts based on the index column (username)
* Prints the top 20 rows of the dataframe

```python
import pandas as pd
salary_data = pd.read_csv('data/salaries.csv', index_col='username')
salary_data = salary_data.sort_index()
salary_data.head(n=20)
```



## Selecting values
To access a value at the position `[i,j]` of a DataFrame, we have two options, depending on what is the meaning of i in use. 

#### Use `DataFrame.iloc[..., ...]` to select values by their (entry) position

#### Use `DataFrame.loc[..., ...]` to select values by their (entry) label

```python
salary_data.iloc[0,0] #Selects value at row 0, column 0
salary_data.loc["mforre4", 'email'] #selects value at row 'mforre4', column 'email'
```

#### Use `:` on it's own to mean all columns or all rows
```python
salary_data.loc["pegre3",:] #Select all columns for row 'pegre3'
salary_data.loc[:,'salary'] #Select all rows for column 'salary'
```

### Select multiple columns or rows using `DataFrame.loc` and a named slice.

This example selects gender, salary and department for a set of usernames.
```python
salary_data.loc['achallenorb':'aertel2j', "gender":"department"]
salary_data.loc['a':'b', 'first_name':'email']
```

### Result of slicing can be used in further operations.
```python
salary_data.loc['b':'c', 'salary'].max() #Get highest salary for usernames starting with 'b'
salary_data.loc['b':'c', 'salary'].mean() #Get average salary for usernames starting with 'b'
```

### Use comparisons to select data based on value.
These two statements are the same
```python
salary_data.loc[:, 'salary']
salary_data['salary'] 
```

You can slice to include multiple columns
```python
salary_data[['id','salary']]
```

We will save this subset into a variable
```python
salaries = salary_data['salary']
```

Determine who is paid over 80000
```python
salaries > 80000
```

And then print out a table of the usernames and their pay
```python
salaries[salaries > 80000]
```

### Select values using a Boolean mask
Above - we filtered a column.  We can apply this to an entire dataframe
This will print all information from the dataframe for salaries greater than 80000
```python
salary_data[salary_data['salary'] > 80000]
```

We can combine filters to make more complex Boolean masks
* & - and TRUE and TRUE is TRUE, TRUE and FALSE is FALSE
* | - or TRUE and FALSE is TRUE, FALSE and FALSE is FALSE

This will get all information from the dataframe for salaries greater than 80000, and department is support
```python
salary_data[(salary_data['salary'] > 80000) & 
            (salary_data['department']=='Support')]
```

# Activity 1
Using slices, create a dataframe including the following filters:
* Usernames between h and p
* Columns firstname, lastname, department, salary, startdate 
* departments Sales or Services

# Activity 2
Answer the following questions:
* What is the minimun start date for Sales?
* What is the highest salary for Engineering?

### Group By: Finding out information for groups

Let's start with grouping all information by deparment, and getting counts then sums and seeing the difference
```python
salary_data.groupby('department').count() 
salary_data.groupby('department').sum()
```

## Group By: Breaking out data into multiple groups
Now we add additional levels for the `groupby`.

```python
salary_data.groupby(['department','gender']).count()
```

And limit the amount of data printed by slicing by multiple columns
```python
salary_data[['department','gender','salary']].groupby(['department','gender']).count()
salary_data[['department','gender','salary']].groupby(['department','gender']).mean()
```

This can be then written to .csv or excel

```python
dept_gender = salary_data[['department','gender','salary']]
dept_gender_mean = dept_gender.groupby(['department','gender']).mean()
dept_gender_mean.to_csv('data/test.csv')
dept_gender_mean.to_csv('data/test.excel')
```

# Activity 3
Create a csv file that shows the max salary per department. Only include department and max salary in your csv file.  You may do excel instead, if you prefer.